<div
  class="trending-view__container">
  <app-pagination-footer
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [onClickPrev]="handleClickPrev"
    [onClickNext]="handleClickNext">
  </app-pagination-footer>
  <app-loader [isVisible]="isFetching"></app-loader>
  <app-empty-state
    [isVisible]="error"
    [errorDescription]="errorDescription"
    [errorTitle]="errorTitle"
  ></app-empty-state>
  <div
    *ngIf="success">
    <app-movies-list [movies]="movies"></app-movies-list>
  </div>
  <div
    *ngIf="!isFetching">
    <app-pagination-footer
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      [onClickPrev]="handleClickPrev"
      [onClickNext]="handleClickNext">
    </app-pagination-footer>
  </div>
</div>
