<div
  fxLayout="column"
  class="movie-card__container" >
  <div
    *ngIf="isApp" >
    <p class="movie-card__name">{{movie.title}}</p>
  </div>
  <div
  fxLayout="row">
    <div class="movie-card__poster_area">
      <img
        class="movie-card__poster"
        [src]="movie.posterPath ? movie.posterPath : defaultImgPath"/>
    </div>
    <div
      *ngIf="!isApp"
      class="movie-card__data-area" >
      <p class="movie-card__name">{{movie.title}}</p>
      <p class="movie-card__description">{{movie.overview}}</p>
    </div>
  </div>
  <div *ngIf="isApp">
    <p class="movie-card__description">{{movie.overview}}</p>
  </div>
  <div
    class="movie-card__footer-bottom" >
    <app-movie-card-footer
      [isFav]="isFav"
      [onClickTrailer]="handleClickViewTrailer" [onClickAddToFavs]="handleClickAddFav" >
    </app-movie-card-footer>
  </div>
  <div class="movie-card__fav-icon-wrapper" *ngIf="isFav">
    <img class="movie-card__fav-icon" [src]="favImgPath" alt="favorite icon">
  </div>
</div>
