@import 'current-theme.scss';

.movie-card {
  &__container {
    width: $layout-movie-card-max-width;

    @media screen and (max-width: $layout-portrait-width) {
      width: auto;
    }

    padding: $layout-spacing-md $layout-spacing-lg;
    margin: $layout-spacing-sm;

    border-radius: $layout-border-radius-md;
    background-color: $colors-background-card;
  }

  &__poster {
    height: 100%;
    width: 100%;
  }

  &__poster_area {
    position: relative;

    height: $layout-poster-height;
    width: $layout-poster-width;

    align-items: center;
    justify-content: center;

    border-radius: $layout-border-radius-md;

    @media screen and (max-width: $layout-portrait-width) {
      width: $layout-movie-poster-width-app;
      margin: 0 auto $layout-spacing-md;
    }
  }

  &__data-area {
    position: relative;
    width: 100%;
    margin-left: $layout-spacing-lg;
  }

  &__name {
    @include font-format('bold', 'xlg');
    letter-spacing: $fonts-letter-spacing-lg;
    margin: $layout-spacing-sm 0;

    color: $colors-font-disclaimer;

    @media screen and (max-width: $layout-portrait-width) {
      text-align: center;
    }
  }

  &__description {
    @include font-format('regular', 'sm');
    margin-top: 0;

    color: $colors-font-active;
  }

  &__footer-area {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
  }

  &__footer-bottom {
    margin-top: $layout-spacing-sm;
  }
}
