@import 'current-theme.scss';

.button {
  &__container {
    display: block;
    height: 100%;

    &--floating {
      position: fixed;
      height: auto;

      right: $layout-spacing-md;
      bottom: $layout-spacing-md;
    }
  }

  &__element {
    cursor: pointer;

    height: 100%;
    width: 100%;
    padding: $layout-spacing-xsm $layout-spacing-sm;

    border-radius: $layout-border-radius-button;
    background-color: $colors-background-button;

    @include font-format('alt-bold', 'xsm');
    letter-spacing: $fonts-letter-spacing-lg;
    color: $colors-font-active;
    text-transform: uppercase;

    transition: transform $layout-animation-button-scale;

    &:hover {
      transform: scale(1.1);
    }

    &--transparent {
      background-color: transparent;
    }

    &--floating {
      height: $layout-floating-button-size;
      width: $layout-floating-button-size;
      border-radius: $layout-floating-button-size / 2;

      box-shadow: $layout-floating-button-shadow;
    }
  }

  &__icon {
    height: $font-size-xxxlg;
    width: $font-size-xxxlg;
  }
}