@import 'current-theme.scss';

.button {
  &__container {
    display: block;
    height: 100%;
  }

  &__element {
    cursor: pointer;

    height: 100%;
    width: 100%;
    padding: $layout-spacing-xsm $layout-spacing-sm;

    border-radius: $layout-border-radius-button;
    background-color: $colors-background-button;

    @include font-format('alt-bold', 'xsm');
    letter-spacing: $fonts-letter-spacing-lg;
    color: $colors-font-active;
    text-transform: uppercase;

    transition: transform $layout-animation-button-scale;

    &:hover {
      transform: scale(1.1);
    }

    &--transparent {
      background-color: transparent;
    }
  }

  &__icon {
    height: $font-size-xxxlg;
    width: $font-size-xxxlg;
  }
}