@import 'current-theme.scss';

.movies-list {
  &__container {
    width: 100%;
    display: flex;
    padding: $layout-spacing-lg $layout-spacing-md;

    flex-direction: column;
    align-items: center;
  }
}
