@import 'current-theme.scss';

html {
  min-height: 100vh;
  background-color: $colors-background-primary;

  overflow-y: overlay;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
}

svg {
  isolation: isolate;
}