$colors-background-primary: #14191e;
$colors-background-primary-opaque: #14191ec1;
$colors-background-primary-menu: #14191eF7;
$colors-background-button: #19b5fe;
$colors-background-topbar: #14191e5f;
$colors-background-card: #323746;
$colors-background-pill: #646e82;
$colors-background-contrast: #dce1eb;

$colors-error: #ff2e2e;

$colors-font-active: #dce1eb;
$colors-font-inactive: #dce1eb80;
$colors-font-disclaimer: #8ca0c3;
$colors-background-link: #19b5fe;
$colors-font-data-and-button: #ffffff;
$colors-font-contrast: #14191e;
$colors-font-indicator-pill: #000000;

$colors-icon-tint-failure: #f52768;
$colors-icon-tint-warning: #f9eb69;

$colors-shadow: rgba(0, 0, 0, 0.25);

/*
$colors-gradient-single: -webkit-linear-gradient(left top, #5dbefc, #dd92fe);

%colors-font-gradient {
  background: -webkit-linear-gradient(left top, #5dbefc, #dd92fe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

%colors-gradient {
  background: -webkit-linear-gradient(left top, #5dbefc, #dd92fe);
}
*/