$layout-spacing-xxxxsm: 5px;
$layout-spacing-xxxsm: 6.5px;
$layout-spacing-xxsm: 8.5px;
$layout-spacing-xsm: 12.5px;
$layout-spacing-sm: 15px;
$layout-spacing-md: 25px;
$layout-spacing-lg: 30px;
$layout-spacing-xlg: 45px;
$layout-spacing-xxlg: 90px;
$layout-spacing-xxxlg: 105px;

$layout-border-radius-smooth: 1px;
$layout-border-radius-button: 1.5px;
$layout-border-radius-md: 5px;
$layout-border-radius-lg: 10px;

$layout-grow-factor-button: 1.1;
$layout-grow-factor-share-button: 1.1;

$layout-border-width-xsm: 1px;
$layout-border-width-sm: 3px;
$layout-border-width-md: 5px;

$layout-portrait-width: 576px;
$layout-app-width: 768px;
$layout-mid-width: 992px;
$layout-lg-width: 1200px;

$layout-z-index-top: 15;
$layout-z-index-mid: 10;
$layout-z-index-low: 5;

$layout-movie-card-max-width: 550px;
$layout-movie-poster-height-app: calc($layout-movie-poster-width-app / 2/3);
$layout-movie-poster-width-app: 200px;
$layout-poster-height: calc($layout-poster-width / 2/3);
$layout-poster-width: 150px;
$layout-page-indicator-width: 75px;
$layout-trending-page-max-width: 800px;
$layout-trailer-height: 700px * (9 / 16);
$layout-trailer-width: 700px;
$layout-trailer-app-height: unquote('calc((100vw - (#{$layout-spacing-md} * 2)) * (9 / 16))');
$layout-trailer-app-width: unquote('calc(100vw - (#{$layout-spacing-md} * 2))');
$layout-floating-button-size: 70px;
$layout-fav-icon-size: 50px;

$layout-animation-button-scale: 300ms ease-out;

$layout-floating-button-shadow: 2px 2px rgba(255, 255, 255, .3);

$layout_loader_height: 75px;
$layout_loader_width: 75px;

%layout-absolute-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}