<div
  class="trailer__container">
  <app-header-bar
    [onClickGoBack]="onClickGoBack"
    [text]="movieName">
  </app-header-bar>
  <div *ngIf="isLoading" class="trailer__loader-container">
    <app-loader [isVisible]="isLoading"></app-loader>
  </div>
  <div *ngIf="success">
    <ng-template ngFor let-trailerUrl [ngForOf]="trailersUrl" >
      <iframe
        allowfullscreen
        class="trailer__iframe"
        SameSite="None"
        [src]="trailerUrl" frameborder="0" >
      </iframe>
    </ng-template>
  </div>
  <app-empty-state
    [isVisible]="error"
    [errorDescription]="emptyFailureDescription"
    [errorTitle]="emptyFailureTitle"
  ></app-empty-state>
  <app-empty-state
    [isVisible]="success && !trailersUrl.length"
    [errorDescription]="emptyNoTrailersDescription"
    [errorTitle]="emptyNoTrailersTitle"
  ></app-empty-state>
</div>
