@import 'current-theme.scss';

.trailer {
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    min-height: 100vh;
    padding: $layout-spacing-md;
  }

  &__loader-container {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;
  }

  &__iframe {
    display: block;
    height: $layout-trailer-height;
    width: $layout-trailer-width;
    margin-bottom: $layout-spacing-md;

    @media screen and (max-width: $layout-app-width) {
      height: $layout-trailer-app-height;
      width: $layout-trailer-app-width;
    }
  }
}